*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background: #350028e0;
    font-family: 'Poppins', sans-serif;

}
.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/b.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
header{
    width: 100%;
    height: 10vh;
    background:rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 300px;
    height: 10vh;
    background: #2400f3;
    display: flex;
    align-items: center;
    justify-content: left;
    color: rgb(0, 0, 0);
    clip-path: polygon(0 0, 100% 0, 64% 100%, 0% 100%);
    padding: 10px;
    line-height: 1.3rem;
    font-weight: bold;
}
.logo p{
    margin-right: 60px;
    font-size: 20px;
}
.logo .fas{
    font-size: 50px;
}
ul.navbar{
    display: flex;
    list-style: none;
}
ul.navbar li{
    width: 120px;
}
ul.navbar li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    display: inline;

}
ul.navbar li a.active{
    color: #04cad8;
}
ul.navbar li a:hover:not(.active){
    color: #2400f3;
}
#btn{
    width: 250px;
    height: 10vh;
    background: #2400f3;
    color: #000;
    outline: none;
    border: none;
    clip-path: polygon(35% 0, 100% 0, 100% 100%, 0% 100%);
    font-size: 1.2rem;
    font-weight: bold;
    text-align: right;
    padding-right: 40px;
}
#btn .fas{
    margin-right: 10px;
}

.content-wrapper{
    width: 80%;
    min-height: 80vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(255, 255, 255);
}
.content-desc h1{
    font-size: 3rem;
    margin-bottom: 10px;
}
.content-desc p{
    width: 550px;
    font-size: 1.3rem;
    line-height: 2rem;
    margin-bottom: 10px;
}
.content-desc span{
    color: #4100f3;
}
#btn2{
    width: 350px;
    height: 10vh;
    outline: none;
    border: none;
    background: #2400f3;
    font-size: 1.2rem;
    font-weight: bolder;
    margin-top: 15px;
    clip-path: polygon(0 0, 74% 0, 100% 100%, 0% 100%);
    border-radius: 20px;
    padding-right: 6%;
}
img{
    height: 450px;
    border: 4px outset blue;
}
footer{
    width: 100%;
    height: 55vh;
    background: #282828;
    display: flex;
    align-items: center;
    
}
.footer-body{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
.footer-logo{
    height: 12vh;
    background-color: #2400f3;
    color: #000;
    line-height: 1.7rem;
}
ul h3{
    color: #fff;
    font-weight: 450;
}
ul li{
    list-style: none;
    line-height: 2.5rem;
}
ul li a{
    text-decoration: none;
    color: #fff;
}
ul li a .fab{
    font-size: 1.2rem;
    color: #2400f3;
    margin-right: 15px;
}
ul li a:hover{
    color: #2400f3;
}
.footer-bottom{
    width: 100%;
    height: 7vh;
    background: #1B1919;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.875rem;
}
.footer-bottom span{
    color: #2400f3;
    font-weight: bold;
}
.z1{
    font-size: 25px;
}
.img1{
    margin: 2%;
}

.d1{
    color: white;
    font-weight: bold;
    display: flex;
}
.p1{
    padding: 10%;
}

.img2{
    margin: 2%;
    width: 44%;
    
}
.d2{
    color: white;
    font-weight: bold;
    display: flex;
}
.p2{
    padding: 10%;
}
.fifa1{
    margin: 2%;
}
.p3{
    padding: 10%;
}
.d3{
    color: white;
    font-weight: bold;
    display: flex;
}
.p4{
    padding: 5%;
}
.d4{
    color: white;
    font-weight: bold;
    display: flex;
}
.d5{
    color: white;
    font-weight: bold;
    display: flex;
}
.rust1{
    margin: 2%;

}
.p5{
    padding: 5%;
}
.d6{
    color: white;
    font-weight: bold;
    display: flex;
}
.p6{
    padding: 5%;
}
.d7{
    color: white;
    font-weight: bold;
    display: flex;
}
.p7{
    padding: 5%;
}
.d8{
    color: white;
    font-weight: bold;
    display: flex;
}
.p8{
    padding: 5%;
}
.pes1{
    margin: 2%;
}
.d9{
    color: white;
    font-weight: bold;
    display: flex;
}
.p9{
    padding: 5%;
}
.d10{
    color: white;
    font-weight: bold;
    display: flex;
}
.p10{
    padding: 5%;
}
.r6s{
    margin: 2%;
}
.d11{
    color: white;
    font-weight: bold;
    display: flex;
}
.p11{
    padding: 5%;
}
.d12{
    color: white;
    font-weight: bold;
    display: flex;
}
.p12{
    padding: 5%;
}
.gow{
    margin: 2%;
}


